.challenge-item{
  background-color: #2c3e50da  !important;
}

label{
  color: white !important;
}

.img-small{
  max-width: 30% !important;
}

::placeholder{
  color: #7ebe9bc5  !important;
}

.top {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.bottom {
  position: absolute;
  top: 60%;
}

.fa-plus{
  margin-bottom: 45px;
}

.github-link-projects{
  position: absolute;
  top: 26%;
  width: 100%;
  text-align: center;
}